<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
        <div class="circle1">
            <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g><circle cx="25" cy="25" r="25" stroke="transparent" fill="#bc4e4a" /></g>
            </svg>
        </div>
    </a>
    <ul>
      <li><h2 class="nav-title">Categoría: Desarrollo</h2></li>
      <li><a href="{{ site.baseurl }}/">Seguridad</a></li>
    </ul>
  </div>
</nav>
