<nav class="nav">
  <div class="nav-container">
    <a href="https://rocmpr.github.io/www/">
        <div class="circle1">
            <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g><circle cx="25" cy="25" r="25" stroke="transparent" fill="#bc4e4a" /></g>
            </svg>
        </div>
    </a>
    {% if page.id %}
    <ul>
      <li><a href="{{ site.baseurl }}/index.html"><h2 class="nav-title">Archivo</h2></a></li>
    </ul>
   {% endif %}
  </div>
</nav>
