* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
  cursor: url(../assets/img/cur.png), auto;
}

html {
  font-family: 'Collegiate';
  font-size: 21px;
  overflow-y: scroll;
  cursor: url(../assets/img/cur.png), auto;

  @media (min-width: 600px) {
    font-size: 20px;
  }
}

body {
  
   cursor: url(../assets/img/cur.png), auto;
}

::selection{background-color: #f9f9f9;}

h1{
  color: $default-shade;
  font-family: 'League Spartan';
  line-height: normal;
}
h2,
h3{ 
  color: $red;
  font-family: 'Collegiate';
  line-height: normal;
}
h4,
h5,
h6 {
  color: $default-shade;
  font-family: 'Collegiate';
  line-height: normal;

}

a {
  color: $red;
  text-decoration: none;

}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;
 

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

g circle {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  stroke-linecap: butt;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
g:hover circle {
  fill: #000;
  color:#f6f3ea;
  stroke-dashoffset: 0;
  stroke-dasharray: 700;
  stroke-width: 10;
   cursor: url(../assets/img/cur.png), auto;
}

.search{
  border: none;
  font-family: Collegiate;
  font-size: 20px;
  color:$red;
  width: 100%;
}
